body {
  background-color: #232323;
}

h1 {
  color: white;
}

.square {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  background: purple;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}
